.loadmore {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.load-more {
	height: 65px;
	border-radius: 5px;
	width: 87%;
	border: none;
	color: #335EEA;
	font-weight: 900;
	font-size: 17px;
	line-height: 26px;
	border: 1px solid #d9e2ef;
	box-sizing: border-box;
	border-radius: 6px;
	cursor: pointer;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
