@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto";
  text-decoration: none;
}

$sm: 640px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

.container {
  margin: 0 auto;
  
  padding: 0.25rem;

  @media (min-width: $sm) {
    max-width: $sm;
  }
  @media (min-width: $md) {
    max-width: $md;
  }
  @media (min-width: $lg) {
    max-width: $lg;
  }
  @media (min-width: $xl) {
    max-width: 1040px;
  }
}

.main {
  background-color: #E5E5E5;
}
